name: Linting, formatting, testing

on:
  push:
  pull_request:
    branches: [main]

jobs:
  build:
    runs_on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Setup up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: uv sync --frozen
      - name: Test with pytest
        run: pytest backend/tests
      - name: Run pre-commit
        uses: pre-commit/actions@v3
